/* body {
    background-image: linear-gradient(180deg, purple,#00ff00, silver);

} */


#container {
    padding:0;
	width: 100vw;
    height: 100vw;
    /* object-fit: cover;
    overflow: hidden;   */
}


 /* div {            
    height: 100vw;
    width: 100vw;
    overflow:hidden;   /*The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.

} */

#videoElement {
    width:100vw;      /*If the width property is set to 100%, the video player will be responsive and scale up and down:*/
    height: 100vw;        
    object-fit: cover;
    transition-duration: 6s;
    transform: scale(var(--scale)) translateX(var(--translate-x)) translateY(var(--translate-y)); 
    outline: none; 
    overflow: hidden;
    
}


